{% extends 'main.html' %} {% block content %}
<style>
  .cat-room-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
</style>
<div class="cat-room-container">
  <div>
    <h1>{{cat_room.name}}</h1>
    <p>{{cat_room.description}}</p>
    <div class="comment-wrapper">
      <h3>Meows</h3>
      <hr />
      {% for meow in meows %}
      <div>
        <small> @{{meow.cat}} {{meow.created|timesince}} ago</small>
        <p>{{meow.body}}</p>
        <hr />
      </div>
      {% endfor %}
    </div>
    {% if request.user.is_authenticated %}
    <div class="comment-form">
      <form action="" method="POST">
        {% csrf_token %}
        <input type="text" name="body" placeholder="Make some noise..." />
      </form>
    </div>
  </div>
  <div>
    <h3>Participants</h3>
    <hr />
    {% for participant in participants %}
      <div>
        <p>@{{participant.username}}</p>
      </div>
    {% endfor %}
  </div>
</div>
{%endif%} {% endblock %}
