{% extends 'main.html' %} {% block content %}
<h1>Home Template</h1>
<div>
  <a href="{% url 'createCatRoom' %}">Create Cat Room</a>
  <div>
    {% for catRoom in catRooms%}
    <div>
      <a href="{% url 'updateCatRoom' catRoom.id %}">Edit</a>
      <a href="{% url 'deleteCatRoom' catRoom.id %}">Delete</a>
      <span>
        @{{catRoom.hostCat.username}}
      </span>
      <h5>
        {{catRoom.id}} -- <a href="{% url 'catRoom' catRoom.id %}">{{catRoom.name}}</a>
      </h5>
      <small>{{catRoom.topic.name}}</small>
      <hr>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
